In [8]:
import pymongo

In [9]:
conn = pymongo.MongoClient ("mongodb://localhost:27017/")
db=conn["mydatabase"]
col=db["chai"]

In [10]:
value = [{"Name":"abc","Age":"18","Place":"Trivandrum"},
       {"Name":"CHAI","Age":"55","Place":"MLP"},
       {"Name":"ROHIT","Age":"18","Place":"KOCHI"}]
col.insert_many(value)

InsertManyResult([ObjectId('67d935b35a4d826230494f60'), ObjectId('67d935b35a4d826230494f61'), ObjectId('67d935b35a4d826230494f62')], acknowledged=True)

In [11]:
'''document = col.find_many({"Name":"abc"})
print(document)'''

'document = col.find_many({"Name":"abc"})\nprint(document)'

In [28]:
var=col.find({"Name":"CHAI"},{"Name":1, "_id":0})
for i in var:
    print(i)

{'Name': 'CHAI'}

In [44]:
var=col.find({},{"Name":1, "_id":1 ,"Place":1}).limit(2)
for i in var:
    print(i)

{'_id': ObjectId('67d935b35a4d826230494f60'), 'Name': 'abc', 'Place': 'Trivandrum'}
{'_id': ObjectId('67d935b35a4d826230494f61'), 'Name': 'CHAI', 'Place': 'MLP'}

In [49]:
var=col.find({},{"Name":1,"Age":1,"_id":0}).sort("Name")
for i in var:
    print(i)

{'Name': 'CHAI', 'Age': '55'}
{'Name': 'ROHIT', 'Age': '18'}
{'Name': 'abc', 'Age': '18'}

In [61]:
var=col.find({"Age":{"$gt":"40"}}).sort("Age")
for i in var:
    print(i)

{'_id': ObjectId('67d935b35a4d826230494f61'), 'Name': 'CHAI', 'Age': '55', 'Place': 'MLP'}