In [2]:
import pymongo

In [3]:
conn = pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["testDB"]
col = db["test"]

In [4]:
value = [{"Name": "John", "Age": 50, "Dept": "Sales"},
         {"Name": "John", "Age": 25, "Dept": "Marketing"},
         {"Name": "Bob", "Age": 36, "Dept": "IT"}]

col.insert_many(value)

InsertManyResult([ObjectId('683e27308f8605925933f7c9'), ObjectId('683e27308f8605925933f7ca'), ObjectId('683e27308f8605925933f7cb')], acknowledged=True)

In [5]:
for document in col.find():
    print(document)

{'_id': ObjectId('683e27308f8605925933f7c9'), 'Name': 'John', 'Age': 50, 'Dept': 'Sales'}
{'_id': ObjectId('683e27308f8605925933f7ca'), 'Name': 'John', 'Age': 25, 'Dept': 'Marketing'}
{'_id': ObjectId('683e27308f8605925933f7cb'), 'Name': 'Bob', 'Age': 36, 'Dept': 'IT'}

In [6]:
for document in col.find({'Dept': 'Sales'}):
    print(document)

{'_id': ObjectId('683e27308f8605925933f7c9'), 'Name': 'John', 'Age': 50, 'Dept': 'Sales'}

In [7]:
for document in col.find({"Age": {"$gt": 30}}):
    print(document)

{'_id': ObjectId('683e27308f8605925933f7c9'), 'Name': 'John', 'Age': 50, 'Dept': 'Sales'}
{'_id': ObjectId('683e27308f8605925933f7cb'), 'Name': 'Bob', 'Age': 36, 'Dept': 'IT'}

In [8]:
for document in col.find({"Dept":"Marketing", "Age":{"$lt": 30}}):
    print(document)

{'_id': ObjectId('683e27308f8605925933f7ca'), 'Name': 'John', 'Age': 25, 'Dept': 'Marketing'}

In [9]:
for document in col.find({"Name": {"$regex": "^J"}}):
    print(document)

{'_id': ObjectId('683e27308f8605925933f7c9'), 'Name': 'John', 'Age': 50, 'Dept': 'Sales'}
{'_id': ObjectId('683e27308f8605925933f7ca'), 'Name': 'John', 'Age': 25, 'Dept': 'Marketing'}

In [10]:
for document in col.find({"Dept": {"$in": ["IT", "Sales"]}}):
    print(document)

{'_id': ObjectId('683e27308f8605925933f7c9'), 'Name': 'John', 'Age': 50, 'Dept': 'Sales'}
{'_id': ObjectId('683e27308f8605925933f7cb'), 'Name': 'Bob', 'Age': 36, 'Dept': 'IT'}

In [12]:
for document in col.find({"$or": [{"Dept": "IT"}, {"Dept": "Sales"}]}):
    print(document)

{'_id': ObjectId('683e27308f8605925933f7c9'), 'Name': 'John', 'Age': 50, 'Dept': 'Sales'}
{'_id': ObjectId('683e27308f8605925933f7cb'), 'Name': 'Bob', 'Age': 36, 'Dept': 'IT'}

In [13]:
col = db["Student"]

In [14]:
value = [{"Name": "John", "Sub": "Maths", "Mark": 80},
         {"Name": "John", "Sub": "Science", "Mark": 70},
         {"Name": "John", "Sub": "Maths", "Mark": 70},
         {"Name": "John", "Sub": "Science", "Mark": 85},
         {"Name": "Bob", "Sub": "Maths", "Mark": 60},
         {"Name":"Bob", "Sub": "Science", "Mark": 75}]

col.insert_many(value)

InsertManyResult([ObjectId('683e2de18f8605925933f7cc'), ObjectId('683e2de18f8605925933f7cd'), ObjectId('683e2de18f8605925933f7ce'), ObjectId('683e2de18f8605925933f7cf'), ObjectId('683e2de18f8605925933f7d0'), ObjectId('683e2de18f8605925933f7d1')], acknowledged=True)

In [15]:
for document in col.find():
    print(document)

{'_id': ObjectId('683e2de18f8605925933f7cc'), 'Name': 'John', 'Sub': 'Maths', 'Mark': 80}
{'_id': ObjectId('683e2de18f8605925933f7cd'), 'Name': 'John', 'Sub': 'Science', 'Mark': 70}
{'_id': ObjectId('683e2de18f8605925933f7ce'), 'Name': 'John', 'Sub': 'Maths', 'Mark': 70}
{'_id': ObjectId('683e2de18f8605925933f7cf'), 'Name': 'John', 'Sub': 'Science', 'Mark': 85}
{'_id': ObjectId('683e2de18f8605925933f7d0'), 'Name': 'Bob', 'Sub': 'Maths', 'Mark': 60}
{'_id': ObjectId('683e2de18f8605925933f7d1'), 'Name': 'Bob', 'Sub': 'Science', 'Mark': 75}

In [21]:
for document in col.aggregate([{"$group": {"_id": "$Name",
                                          "total marks": {"$sum": "$Mark"}}}]):
    print(document)

{'_id': 'John', 'total marks': 305}
{'_id': 'Bob', 'total marks': 135}

In [22]:
pipeline = [
    {
        "$group": {
            "_id": "$Name",
            "total_mark": {"$sum": "$Mark"}
        }
    }
]

results = col.aggregate(pipeline)

for doc in results:
    print(f"{doc['_id']}: {doc['total_mark']}")

John: 305
Bob: 135

In [26]:
for document in col.aggregate([{"$group": {"_id": "$Name",
                                           "average_mark": {"$avg": "$Mark"}}}]):
    print(f"{document['_id']}: {document['average_mark']}")

John: 76.25
Bob: 67.5

In [34]:
for document in col.aggregate([{"$group": {"_id": "$Name",
                                          "total marks": {"$sum": "$Mark"}}}, {"$sort": {"total marks": -1}}]):
    print(document)

{'_id': 'John', 'total marks': 305}
{'_id': 'Bob', 'total marks': 135}

In [33]:
for document in col.aggregate([{"$group": {"_id": "$Name",
                                          "total marks": {"$sum": "$Mark"}}}, {"$sort": {"total marks": 1}}, {"$limit":1}]):
    print(document)

{'_id': 'Bob', 'total marks': 135}

In [35]:
col = db["MCA"]

In [36]:
value = [{"Name": "John", "Age": 20, "Grade": "A"},
         {"Name": "John", "Age": 22, "Grade": "B"},
         {"Name": "John", "Age": 21, "Grade": "A"}]

col.insert_many(value)

InsertManyResult([ObjectId('683e340f8f8605925933f7d2'), ObjectId('683e340f8f8605925933f7d3'), ObjectId('683e340f8f8605925933f7d4')], acknowledged=True)

In [37]:
for doc in col.find():
    print(doc)

{'_id': ObjectId('683e340f8f8605925933f7d2'), 'Name': 'John', 'Age': 20, 'Grade': 'A'}
{'_id': ObjectId('683e340f8f8605925933f7d3'), 'Name': 'John', 'Age': 22, 'Grade': 'B'}
{'_id': ObjectId('683e340f8f8605925933f7d4'), 'Name': 'John', 'Age': 21, 'Grade': 'A'}

In [39]:
for doc in col.find({"Age": {"$gt": 20}}):
    print(doc)

{'_id': ObjectId('683e340f8f8605925933f7d3'), 'Name': 'John', 'Age': 22, 'Grade': 'B'}
{'_id': ObjectId('683e340f8f8605925933f7d4'), 'Name': 'John', 'Age': 21, 'Grade': 'A'}

In [40]:
for doc in col.find({"Grade": "A"}):
    print(doc)

{'_id': ObjectId('683e340f8f8605925933f7d2'), 'Name': 'John', 'Age': 20, 'Grade': 'A'}
{'_id': ObjectId('683e340f8f8605925933f7d4'), 'Name': 'John', 'Age': 21, 'Grade': 'A'}

In [41]:
col.update_many({"Name": "John"}, {"$set": {"Grade": "B"}})

for doc in col.find():
    print(doc)

{'_id': ObjectId('683e340f8f8605925933f7d2'), 'Name': 'John', 'Age': 20, 'Grade': 'B'}
{'_id': ObjectId('683e340f8f8605925933f7d3'), 'Name': 'John', 'Age': 22, 'Grade': 'B'}
{'_id': ObjectId('683e340f8f8605925933f7d4'), 'Name': 'John', 'Age': 21, 'Grade': 'B'}

In [42]:
col.update_many({"Name": "John", "Age":22}, {"$set": {"Grade": "C"}})

for doc in col.find():
    print(doc)

{'_id': ObjectId('683e340f8f8605925933f7d2'), 'Name': 'John', 'Age': 20, 'Grade': 'B'}
{'_id': ObjectId('683e340f8f8605925933f7d3'), 'Name': 'John', 'Age': 22, 'Grade': 'C'}
{'_id': ObjectId('683e340f8f8605925933f7d4'), 'Name': 'John', 'Age': 21, 'Grade': 'B'}

In [51]:
for doc in col.aggregate([{"$group": {"_id": "$Grade",
                                      "avg_age": {"$avg": "$Age"}}}]):
    print(f"{doc['_id']}: {doc['avg_age']}")

C: 22.0
B: 20.5

In [52]:
for doc in col.find().sort({"Age": -1}):
    print(doc)

{'_id': ObjectId('683e340f8f8605925933f7d3'), 'Name': 'John', 'Age': 22, 'Grade': 'C'}
{'_id': ObjectId('683e340f8f8605925933f7d4'), 'Name': 'John', 'Age': 21, 'Grade': 'B'}
{'_id': ObjectId('683e340f8f8605925933f7d2'), 'Name': 'John', 'Age': 20, 'Grade': 'B'}