In [1]:
import pymongo

In [3]:
conn = pymongo.MongoClient ("mongodb://localhost:27017/")
db=conn["QS"]
col=db["std_details"]

In [5]:
value = [{"First_name":"Chaithanya","Last_name":"Ks","Gender":"Female","Course":"MCA","Place":"Thrissur","Mark":91,"Grade":"A+"},
       {"First_name":"Gokul","Last_name":"P","Gender":"Male","Course":"MCA","Place":"Malppuram","Mark":95,"Grade":"A+"},
       {"First_name":"Aradhya","Last_name":"Ravi","Gender":"Female","Course":"Mechanical","Place":"Trivandrum","Mark":85,"Grade":"A"},
       {"First_name":"Arun","Last_name":"B","Gender":"Male","Course":"Civil","Place":"Kollam","Mark":75,"Grade":"B+"}]
col.insert_many(value)

InsertManyResult([ObjectId('67e24896c0aa4a7bdb7af0d7'), ObjectId('67e24896c0aa4a7bdb7af0d8'), ObjectId('67e24896c0aa4a7bdb7af0d9'), ObjectId('67e24896c0aa4a7bdb7af0da')], acknowledged=True)

In [9]:
for document in col.find({"Gender": "Female", 
                               "Course": "MCA"}, {"First_name":1, "Last_name":1, "Mark":1, "Course":1, "_id":0}): 
    print(document)

{'First_name': 'Chaithanya', 'Last_name': 'Ks', 'Course': 'MCA', 'Mark': 91}

In [12]:
for document in col.find({"Course": "MCA"}).sort({"Mark": -1}).limit(1): 
    print(document)

{'_id': ObjectId('67e24896c0aa4a7bdb7af0d8'), 'First_name': 'Gokul', 'Last_name': 'P', 'Gender': 'Male', 'Course': 'MCA', 'Place': 'Malppuram', 'Mark': 95, 'Grade': 'A+'}

In [13]:
for document in col.find({"Gender": "Male", 
                               "Grade": "A+"}, {"First_name":1, "Last_name":1, "_id":0}): 
    print(document)

{'First_name': 'Gokul', 'Last_name': 'P'}

In [14]:
value = [{"First_name":"Krishna","Last_name":"A","Gender":"Female","Course":"Mechanical","Place":"Thrissur","Mark":65,"Grade":"B+"},
       {"First_name":"Diva","Last_name":"Sasi","Gender":"Female","Course":"Mehcanical","Place":"Malppuram","Mark":69,"Grade":"B+"},
       {"First_name":"Rohit","Last_name":"Shekhar","Gender":"Male","Course":"Mechanical","Place":"Trivandrum","Mark":82,"Grade":"A"},
       {"First_name":"Abraham","Last_name":"P","Gender":"Male","Course":"Mechanical","Place":"Kollam","Mark":55,"Grade":"C"}]
col.insert_many(value)

InsertManyResult([ObjectId('67e24c4cc0aa4a7bdb7af0db'), ObjectId('67e24c4cc0aa4a7bdb7af0dc'), ObjectId('67e24c4cc0aa4a7bdb7af0dd'), ObjectId('67e24c4cc0aa4a7bdb7af0de')], acknowledged=True)

In [17]:
for document in col.find({"Course": "Mechanical"},{"First_name":1,"Last_name":1,"Mark":1,"Course":1,"_id":0}).sort({"Mark": -1}).limit(5): 
    print(document)

{'First_name': 'Aradhya', 'Last_name': 'Ravi', 'Course': 'Mechanical', 'Mark': 85}
{'First_name': 'Rohit', 'Last_name': 'Shekhar', 'Course': 'Mechanical', 'Mark': 82}
{'First_name': 'Krishna', 'Last_name': 'A', 'Course': 'Mechanical', 'Mark': 65}
{'First_name': 'Abraham', 'Last_name': 'P', 'Course': 'Mechanical', 'Mark': 55}

In [18]:
for document in col.find({"Gender":"Female","Mark":{"$gt":90}},{"First_name":1,"Last_name":1,"_id":0}):
    print(document)

{'First_name': 'Chaithanya', 'Last_name': 'Ks'}

In [ ]:
for document in col.find({"Mark":{"$gt":80,"$lt":90}},{"First_name":1,"Last_name":1,"Mark":1, "_id":0}):
    print(document)

{'First_name': 'Aradhya', 'Last_name': 'Ravi', 'Mark': 85}
{'First_name': 'Rohit', 'Last_name': 'Shekhar', 'Mark': 82}

In [24]:
for document in col.find({"First_name": {"$regex": "^A"}},{"First_name":1, "_id":0}):
    print(document)

{'First_name': 'Aradhya'}
{'First_name': 'Arun'}
{'First_name': 'Abraham'}

In [25]:
for document in col.find({"Place":"Kollam"},{"First_name":1,"Place":1, "_id":0}):
    print(document)

{'First_name': 'Arun', 'Place': 'Kollam'}
{'First_name': 'Abraham', 'Place': 'Kollam'}

In [29]:
for document in col.find({"Place": { "$nin": ["Malppuram", "Kollam"] }
},{"First_name":1,"Place":1, "_id":0}):
    print(document)

{'First_name': 'Chaithanya', 'Place': 'Thrissur'}
{'First_name': 'Aradhya', 'Place': 'Trivandrum'}
{'First_name': 'Krishna', 'Place': 'Thrissur'}
{'First_name': 'Rohit', 'Place': 'Trivandrum'}