In [1]:
import pandas as pd

# Sample DataFrame with custom indexing
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [24, 27, 22]}

df = pd.DataFrame(data, index=['a', 'b', 'c'])
print("Original DataFrame with custom index:")
print(df)

# Reset index to default (0,1,2,…)
df_reset = df.reset_index(drop=True)  # drop=True removes the old index
print("\nDataFrame with default index:")
print(df_reset)

Original DataFrame with custom index:
      Name  Age
a    Alice   24
b      Bob   27
c  Charlie   22

DataFrame with default index:
      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

In [5]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [24, 27, 22, 30]}

df = pd.DataFrame(data)

# Method 1: Using head()
print("First 2 rows using head():")
print(df.head(2))

# Method 2: Using slicing
print("\nFirst 2 rows using slicing:")
print(df[:2])

First 2 rows using head():
    Name  Age
0  Alice   24
1    Bob   27

First 2 rows using slicing:
    Name  Age
0  Alice   24
1    Bob   27

In [6]:
import pandas as pd

# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Occupation': ['Engineer', 'Doctor', 'Engineer', 'Doctor', 'Teacher'],
        'Salary': [70000, 80000, 75000, 85000, 60000]}

df = pd.DataFrame(data)

# Group by occupation and calculate average salary
avg_salary = df.groupby('Occupation')['Salary'].mean()

print("Average salary per occupation:")
print(avg_salary)

Average salary per occupation:
Occupation
Doctor      82500.0
Engineer    72500.0
Teacher     60000.0
Name: Salary, dtype: float64

In [8]:
type(avg_salary)

pandas.core.series.Series

In [9]:
import pandas as pd
import numpy as np

# Sample DataFrame with NaN values
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [24, np.nan, 22],
        'Salary': [70000, 80000, np.nan]}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Fill NaN values with 0
df_filled = df.fillna(0)
print("\nDataFrame after filling NaN with 0:")
print(df_filled)

Original DataFrame:
      Name   Age   Salary
0    Alice  24.0  70000.0
1      Bob   NaN  80000.0
2  Charlie  22.0      NaN

DataFrame after filling NaN with 0:
      Name   Age   Salary
0    Alice  24.0  70000.0
1      Bob   0.0  80000.0
2  Charlie  22.0      0.0

In [10]:
import pandas as pd

# Sample DataFrame
data = {'cname': ['A Corp', 'B Ltd', 'C Inc', 'D LLC'],
        'profit': [5000, -2000, 0, 3000]}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Convert profit values: >0 → True, else → False
df['profit'] = df['profit'] > 0

print("\nDataFrame after converting profit to True/False:")
print(df)

Original DataFrame:
    cname  profit
0  A Corp    5000
1   B Ltd   -2000
2   C Inc       0
3   D LLC    3000

DataFrame after converting profit to True/False:
    cname  profit
0  A Corp    True
1   B Ltd   False
2   C Inc   False
3   D LLC    True

In [11]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'eid': [101, 102, 103],
    'ename': ['Alice', 'Bob', 'Charlie'],
    'stipend': [5000, 6000, 5500]
})

df2 = pd.DataFrame({
    'eid': [101, 102, 103],
    'designation': ['Manager', 'Engineer', 'Analyst']
})

# Merge the two DataFrames on 'eid'
merged_df = pd.merge(df1, df2, on='eid')

# Rename 'designation' column to 'position'
merged_df.rename(columns={'designation': 'position'}, inplace=True)

print("Merged DataFrame with Position:")
print(merged_df)

Merged DataFrame with Position:
   eid    ename  stipend  position
0  101    Alice     5000   Manager
1  102      Bob     6000  Engineer
2  103  Charlie     5500   Analyst